openai
streamlit
streamlit_extras
st-gsheets-connection
python-dotenv
pandasql
anthropic
google-generativeai
dnspython==2.6.1
pymongo==4.8.0
langchain-core==0.3.79
langchain-openai==0.2.14
langchain-mongodb==0.2.0
langchain==0.3.27
langchain-community==0.3.31
langchain-text-splitters==0.3.11
pypdf
SQLAlchemy